.profilelogo .logo{
    width: 240px;
    height: 240px;
    border-radius: 200px;
    border: 10px solid rgb(214, 41, 118);
    background: url(/img/Screenshot\ 2023-10-25\ at\ 14.29.59.png) lightgray 50% / cover no-repeat;
    margin-left: 108px;  
}

.profilelogo .title h1{
    color: #000;

font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 550;
line-height: normal;
}

.history .story1{
    width: 120px;
    height: 119.073px;
    border-radius: 200px;
    border: 10px solid #D9D9D9;
   
    margin-left: 108px;  
}